DATABASE_URL="file:./dev.db"
PORT=4490
SESSION_SECRET="troque-esta-chave"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
X_CLIENT_ID=""
X_CLIENT_SECRET=""
PUBLIC_BASE_URL="http://127.0.0.1:4490"